<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*@Styles.Render("~/Content/style")*@
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Images/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Images/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Images/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Images/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Images/favicon.png">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/scripts.js"></script>


</head>
<body>    
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix header">
                    <div class="col-md-3 column logo">
                        <h1>
                            <img src="~/Images/logoCapitu.png" />
                        </h1>
                        <p>O <span>prazer</span> mora ao lado!</p>
                    </div>
                    <div class="col-md-9 column">
                        @*<div class="styled-select">                    
                    @Html.DropDownListFor(model => model.Etnia.Id, (SelectList)ViewBag.EtniaList, new { id = "Id", name = "DsEtnia" })
                </div>*@
                    </div>
                </div>
            </div>
        </div>                    
        <div>
            @RenderBody()
        </div>
            @Scripts.Render("~/bundles/jquery")
            <script>
                $(document).on("mobileinit", function () {
                    $.mobile.ajaxEnabled = false;
                });
            </script>
            @Scripts.Render("~/bundles/jquerymobile")
            @RenderSection("scripts", required: false)
        </div>
</body>
</html>
